* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
html {
    font-size: 14px;
}
body {
    font-family: 'LATO', sans-serif;
    background: #151515;
    color: #a7a7b3;
    min-height: 100vh;
}
.app-container{
	display: flex;
	flex-direction: column;
	max-width: 90rem;
	margin: 0 auto;
	padding: 2rem;
}

.audio-player {
	display: flex;
    background: #1e1e1e;
    height: 18rem;
}
.cover-container {
    width: auto;
    height: 18rem;
	object-fit: contain;
}
.cover-container img {
	height: 100%;
}
.controls-container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1;
}
.controls-container h3 {
	margin-top: 1.5rem;
	font-size: 1.5rem;
}
.track-list {
	margin-top: 2rem;
}
.tabla-zebra {
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
}

.tabla-zebra thead {
    background-color: #1f1f1f;
    color: white;
}

.tabla-zebra th,
.tabla-zebra td {
    padding: 0.4rem;
    text-align: left;
}
.tabla-zebra td {
	cursor: pointer;
}
.tabla-zebra tbody tr:nth-child(odd) {
    background-color: #3d3d3e;
}

.tabla-zebra tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}

.tabla-zebra tbody tr:hover {
    background-color: #000000;
}