* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
html {
    font-size: 14px;
}
body {
    font-family: 'LATO', sans-serif;
    background: #151515;
    color: #a7a7b3;
    min-height: 100vh;
}
.app-container{
	display: flex;
	flex-direction: column;
	max-width: 90rem;
	margin: 0 auto;
	padding: 2rem;
}
.audio-player {
    position: sticky;
    top: 0;
    z-index: 1000;
	display: flex;
    background: #1e1e1e;
    height: 18rem;
}
.cover-container {
    width: auto;
    height: 18rem;
	object-fit: contain;
}
.cover-container img {
	height: 100%;
}
.metadata-container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1;
}
.metadata-container h3 {
	margin-top: 1.1rem;
	font-size: 1.5rem;
}
.controls-container {
    display: flex;
    gap: 1.5rem;
}
.btn-control {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.btn-control.active img {
    filter: invert(39%) sepia(83%) saturate(7493%) hue-rotate(204deg) brightness(102%) contrast(101%);
}

.btn-control img {
    width: 2.5rem;
    height: 2.5rem;
}
.time-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.time{
    font-size: 1rem;
    background-color: #000000;
    padding: 0.5rem 0.5rem;
}
.waveform{
    flex: 1;
}
.input-file {
    margin-top: 2rem
}
.track-list {
	margin-top: 2rem;
}
.tabla-zebra {
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
}

.tabla-zebra thead {
    background-color: #1f1f1f;
    color: white;
}
.tabla-zebra th,
.tabla-zebra td {
    padding: 0.4rem;
    text-align: left;
    cursor: pointer;
}
.tabla-zebra tbody tr:nth-child(odd) {
    background-color: #3d3d3e;
}
.tabla-zebra tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}
.tabla-zebra tbody tr:hover {
    background-color: #000000;
}
.cover-table {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background: #151515;
    color: #a7a7b3;
    border-radius: 8px;
    padding: 2rem;
    min-width: 40rem;
    max-width: 90%;
    position: relative;
}

.modal-close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: #151515;
    color: #a7a7b3;
    font-size: 2rem;
    cursor: pointer;
}