* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
html {
    font-size: 14px;
}
body {
    font-family: 'LATO', sans-serif;
    background: #151515;
    color: #a7a7b3;
    min-height: 100vh;
}
.app-container{
	display: flex;
	flex-direction: column;
	max-width: 90rem;
	margin: 0 auto;
	padding: 2rem;
}

.audio-player {
	display: flex;
    background: #1e1e1e;
    height: 18rem;
}
.cover-container {
    width: auto;
    height: 18rem;
	object-fit: contain;
}
.cover-container img {
	height: 100%;
}
.metadata-container {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex: 1;
}
.metadata-container h3 {
	margin-top: 1.1rem;
	font-size: 1.5rem;
}
.controls-container {
    display: flex;
    gap: 1.5rem;
}
.btn-control {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.btn-control img {
    width: 2.5rem;
    height: 2.5rem;
}
.input-file {
    margin-top: 2rem
}
.track-list {
	margin-top: 2rem;
}
.tabla-zebra {
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
}

.tabla-zebra thead {
    background-color: #1f1f1f;
    color: white;
}
.tabla-zebra th,
.tabla-zebra td {
    padding: 0.4rem;
    text-align: left;
}
.tabla-zebra td {
	cursor: pointer;
}
.tabla-zebra tbody tr:nth-child(odd) {
    background-color: #3d3d3e;
}
.tabla-zebra tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}
.tabla-zebra tbody tr:hover {
    background-color: #000000;
}
.cover-table {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}